@charset "UTF-8";

/*************************
SPデザイン用(320px - 767px : 可変)設定
**************************/
body {
  /* 最小幅320px */
  min-width: 320px;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1em;
  letter-spacing: 0.1em;
}

/* ======☆☆☆header☆☆☆の設定====== */
#header .logo {
  margin-top: 16px;
  margin-bottom: 16px;
  flex-basis: 30%;
  height: 20px;
  margin-left: 0px;
  padding-left: 12px;
  z-index: 90;
}

/* ====ドロワーメニュー作成（チェックボックスがオフの場合）=====*/
/* ==nav要素を画面上部に固定配置 ==*/
#header .menu_list {
  /* ↓配置を固定 */
  position: fixed;
  /* 横幅指定 */
  width: 100%;
  /* max-width: 375px; */
  /* 手前側に表示 */
  z-index: 100;
}

/* ==input要素のチェックボックスを非表示にする==*/
#header .menu .menu_btn {
  display: none;
}

/* ==label要素のアイコン作成== */
#header .menu .burger {
  /* ↓絶対値指定*/
  position: absolute;
  /* ↓右から0px */
  right: 0px;
  /* ↓上から0px */
  top: 0px;
  /*↓上に25px余白を付ける */
  padding-top: 25px;
  /* ↓高さを20pxに固定 */
  height: 20px;
  /* ↓マウスを合わせた時に指のマークを表示 */
  cursor: pointer;

  /* バーガーメニューの位置固定 */
  position: fixed;
}

/* ==span要素で三本戦の中央線を作成 ==*/
#header .menu .burger .navicon {
  /*↓今はインラインだが、幅と高さを指定したいのでblockに変更する */
    display: block;

  width: 31px; /* 線の長さを指定 */
  height: 2px; /* 線の太さを指定 */
  background-color: #B71B26;
  /* 線の色を指定 */
  /* ⇒ここまでで横線1本出来上がり */

  /* ::beforeと::afterの基準要素 */
  position: relative;
  /* (A)動かす基点を設定 */
  right: 12px;
}

/* =三本線の上下に線を作成=*/
/* ↓先ほど作成した1本線の前と後ろに疑似要素を作成 */
#header .menu .burger .navicon::before,
#header .menu .burger .navicon::after {
  /* ↓中身なし */
  content: "";
  width: 100%;
  height: 100%;
  background-color: #B71B26;

  /* 基点(A)に対して絶対配置するように設定 */
  position: absolute;

  /* 三本線からバツ印へ切り替える際のアニメーション */
  transition: all 0.4s ease-out;
}

/* 三本線の上の線の設定 */
/* 先ほど設定した絶対配置位置から上に7px移動 */
#header .menu .burger .navicon::before {
  top: 7px;
}

/* 三本線の下の線の設定 */
/* 先ほど設定した絶対配置位置から下に7px移動 */
#header .menu .burger .navicon::after {
  top: -7px;
}

/* ==メニューリストについて ==*/
#header .menu .menu_list {
  background-color: rgba(255, 255, 255, 0.9);
  /* ↓中央に寄せる */
  text-align: center;

  /* ↓非表示にする */
  max-height: 0;

  /* ↓高さをなくす*/
  overflow: hidden;

  /* ↓非表示のアニメーションの動き */
  transition: max-height 0.6s;
}

/* 1つ目のリストの上だけに余白を付ける */
#header .menu .menu_list li:first-of-type {
  padding-top: 80px;
}

/* 1つ目のリストの下に余白を付けて、フォントを変更する */
#header .menu .menu_list a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
}


/* =====チェックボックスがオンの場合 =====*/
/* 非表示にしていたul.menu_listを表示 */
#header .menu .menu_btn:checked~.menu_list {
  max-height: 532px;
  /*非表示にするために0pxにしていたので再表示*/
  transition: max-height 0.6s;
}

/* メニューの三本線の中央の線を非表示にする＝×をつくるのに2本必要なので3本中1本消すという考え方 */
#header .menu .menu_btn:checked~.burger .navicon {
  background-color: transparent;
}

/* 三本線の上下の線を回転させて×を作る,、位置も変える */
#header .menu .menu_btn:checked~.burger .navicon::before {
  /* 下の線の設定 */
  transform: rotate(-45deg);
  top: 0;
}

#header .menu .menu_btn:checked~.burger .navicon::after {
  /* 上の線の設定 */
  transform: rotate(45deg);
  top: 0;
}

/* ★a要素マウスオーバーした時に色を付ける */
#header .menu .menu_list a:hover {
  background-color: #f4f4f4;
  font-weight: 700;
}

/* ↓リストの下に余白をつける */
#header .menu .menu_list li:last-of-type {
  padding-bottom: 180px;
}



/* =======☆☆☆main☆☆☆======= */
/* ===hero画像の設定=== */
/* ↓スマホ用画像を表示 */
main h1 .sp {
  display: block;
}

/* ↓PC用画像を非表示 */
main h1 .pc {
  display: none;
}

main h1 .sp {
  width: 100%;
  height: 480px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 48px;
}

/* ===sectionの設定=== */
/* セクションの共通設定 */
main section {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 80px;
  /* text-align: center; */
}

/* セクションタイトルの共通設定 */
main .sec_title {
  font-family: 'Noto Serif JP', serif;
  margin-bottom: 8px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  /* ↓中央揃えにする */
  text-align: center;
  line-height: 1em;
}

/* サブタイトルの共通設定 */
main .subtitle {
  font-family: 'Noto Serif JP', serif;
  font-size: 12px;
  color: #223E69;
  /* text-align: center; */
  margin-bottom: 24px;

  /* ↓サブタイトル左右のラインの設定 */
  display: flex;
  /* ↓左右のライン縦位置を中央に設定 */
  align-items: center;
  /* ↓左右のライン横位置を中央に設定 */
  justify-content: center;
}

.section .sub {
  margin-left: 8px;
  margin-right: 8px;
}

.section .subtitle::before,
.section .subtitle::after {
  content: '';
  flex-grow: 0.09;
  /* 余白を分け与える */
  height: 1px;
  background: #223E69;
}

/* ==CONCEPTの設定== */
#concept h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

#concept .comment {
  font-size: 14px;
  line-height: 2em;
  text-align: left;
}

/* ==SERVICEの設定== */
#service img {
  width: 100%;
  height: 246.29px;
  object-fit: cover;
}

#service .service_menu dt {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 8px;
  /* ↓中央揃えにする */
  text-align: center;
}

#service .service_menu dd {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 8px;
  text-align: left;
}

#service .more {
  font-size: 14px;
  text-align: right;
  margin-bottom: 48px;
  /* ↓マウスを合わせた時に指のマークを表示 */
  cursor: pointer;
}

/* ↓キッチンのmoreの下にはmargin48pxいらないので解除 */
#service .kitchen .more {
  margin-bottom: 0px;
}

#service .more a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #333;
  margin-left: 4px;
}

#service .more a:hover {
  display: inline-block;
  text-align: right;
  border-radius: 10px;
  padding: 0px 5px 0px 7px;
  background-color: #E5E5E5;
}

/* ==☆FLOW☆の設定== */
/* ↓全体に背景色を付けて、上下に16pxずつ余白をつける*/
#flow {
  background-color: #E5E5E5;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* ↓サブタイトルの左右ラインの色を変更 */
#flow .subtitle::before,
#flow .subtitle::after {
  background-color: #B71B26;
}

/* ↓サブタイトルの文字の色を変更 */
#flow .subtitle {
  color: #B71B26;
}

#flow .flow_text {
  font-weight: 500;
  width: 300px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  background-color: #333;
  color: #fff;

  /* ↓黒枠を中央揃えにする */
  margin: 0 auto;

  /* ↓黒枠の中の文字を中央揃えにする */
  text-align: center;
}

#flow .yajirusi::after {
  /* ↓▼を作成する */
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  padding: 0px;
  border-top: 16px solid #B71B26;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;

  /* ↓▼の上下に余白をつけて中央揃えにする */
  margin: 14px auto;
}

/* 各▼の色の設定 */
#flow .yajirusi:nth-of-type(2)::after {
  border-top-color: rgba(183, 27, 38, 0.6);
}

#flow .yajirusi:nth-of-type(4)::after {
  border-top-color: rgba(183, 27, 38, 0.7);
}

#flow .yajirusi:nth-of-type(6)::after {
  border-top-color: rgba(183, 27, 38, 0.8);
}

#flow .yajirusi:nth-of-type(8)::after {
  border-top-color: rgba(183, 27, 38, 0.9);
}

/* ↓最後のボックスだけ三角形を表示しない */
#flow .yajirusi:last-child:after {
  display: none;
}

/* ==☆Q&A☆の設定== */
/* Q&Aセクションの共有設定 */
#question .q_wrap,
#question .a_wrap {
  display: flex;
}

/* アイコンの共有設定 */
#question .qa_icon {
  border-radius: 52% 52%;
  color: #fff;
  max-width: 36px;
  height: 36px;
  padding-top: 10px;
  padding-right: 3px;
  padding-left: 9px;
  font-family: 'Noto Serif JP', serif;
  font-size: min(5.3vw, 20px);
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 24px;
}

/* アイコンQの設定 */
#question .qa_contents .q {
  background-color: #333;
}

/* アイコンAの設定 */
#question .qa_contents .a {
  background-color: #B71B26;
}

/* ↓文章部分の設定 */
#question .question,
#question .answer {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  margin-left: 9px;
  /* ↓アイコンの位置とバランスを取るため上にpadding設定 */
  padding-top: 6px;
}

/*↓ Q.の下に16px分の余白を入れる */
#question .question {
  margin-bottom: 16px;
}

/*↓ 1つ目のA.の下に24px分の余白を入れる */
#question .answer1 {
  margin-bottom: 24px;
}

/* ==☆CONTACT☆の設定== */
/* サブタイトルの左右ラインの色を変更 */
#contact .subtitle::before,
#contact .subtitle::after {
  background-color: #333;
}

/* サブタイトルの文字の色を変更 */
#contact .subtitle {
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  width: 100%;
  min-height: 32px;
  /* ↓入力欄の内側に余白をつける */
  padding: 4px 8px;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  background-color: rgba(0, 0, 255, 0.063);
}

/* 背景色の設定 */
#contact {
  background-color: rgba(34, 62, 105, 0.15);
  padding-top: 16px;
}

/* 項目名の設定 */
#contact .contact_label {
  font-weight: 700;

  /* ↓上の余白設定 */
  margin-top: 24px;
  /* ↓下の余白設定 */
  margin-bottom: 10px;

  /* ↓中央揃えにする */
  text-align: center;
}

/* 必須の設定 */
#contact .contact_label span {
  box-sizing: border-box;
  background: #B71B26;
  color: #fff;
  border-radius: 8px;
  font-size: 10px;
  padding: 4px 9.5px;
  margin-left: 4px;
  height: 18px;
}


/* １．お問い合わせ種別の設定 */
/* 項目名の下の余白を設定　他は10pxだけどここだけ18px */
#contact .contact_type_item .contact_label {
  margin-bottom: 18px;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
}

/* ↓ラジオボタンを中央揃えにする 　絶対このやり方良くない*/
#contact .radio_grp {
  /* ↓幅を設定 */
  max-width: 400px;
  /* ↓中央揃えにする */
  margin: 0 auto;
  text-align: center;
}

#contact .radio_type {
  font-size: 14px;
  /* ↓ラジオボタンの間隔の設定 */
  margin: 0 5%;
  /* ↓下の余白を設定 */
  margin-bottom: 24px;
}

/* 「〇資料請求」の左のmarginは削除する */
#contact .radio_grp .radio_type:nth-child(1) {
  margin-left: 0px;
}

/* 「〇ご相談」の右のmarginは削除する */
#contact .radio_grp .radio_type:nth-child(2) {
  margin-right: 0px;
}

/* ５．住所の設定 */
#contact .postal_code_wrap {
  text-align: left;
  display: flex;
}

/* 住所の郵便番号の設定 */
#contact .postal_code_wrap .contact_label {
  font-size: 14px;
  font-weight: 400;
  margin-right: 8px;
  margin-top: 7px;
}

#contact .postal_code_wrap .postal_code {
  margin-bottom: 8px;
  width: 125px;
}

#contact .inquiry {
  height: 320px;
}

/* ９．確認ボタンの設定 */
#contact .submit {
  display: flex;
  /* ↓黒枠自体を中央揃えにする */
  justify-content: center;
  /* ↓黒枠の上下に余白を付ける */
  padding-top: 24px;
  padding-bottom: 24px;

  /*↓ ▶の位置分の調整のため */
  padding-right: 10px;
  /*↓ 黒枠の文字を中央揃えにする */
  text-align: center;
}

#contact .submit label {
  background: #333;
  width: 200px;
  height: 48px;
}

#contact .submit span::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 8px solid transparent;
  border-left-color: #fff;
  /* ↓▷の上下位置を調整 */
  margin-top: 16px;
  margin-left: 3px;

  position: absolute;
}

#contact .submit_btn {
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 3em;
  color: #fff;
}

/* ↓確認ボタンにマウスを置いた時の設定 */
#contact .submit label:hover {
  background-color: #B71B26;
  border: #fff solid 4px;
}

#contact .submit_btn:hover {
  line-height: 2.8em;
}

/* =======☆☆☆footerの設定☆☆☆======= */
footer .pagetop {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #333;
  margin-right: 12px;

  /*↓ pagetop上三角アイコン位置設定用 */
  position: relative;
}

footer .pagetop::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 26px;
  height: 26px;
  border: solid 4px transparent;
  border-top-color: #fff;
  border-left-color: #fff;
  transform: rotate(45deg);
}

footer .pagetop_icon {
  display: flex;
  justify-content: flex-end;
}

/* ↓マウスを置いた時に上にピョンとなるように設定 */
footer .pagetop:hover {
  cursor: pointer;
  top: -5px;
}

footer .copytright {
  background-color: #333;
  height: 45px;
  text-align: center;
  color: #fff;
  font-family: 'Noto Serif JP', serif;
  font-size: 12px;
  font-weight: 500;
  padding-top: 16px;
}













/*************************
PCデザイン用(768px以上 : 可変)設定
**************************/
@media screen and (min-width:768px) {

  /* ======★★★header★★★の設定====== */
  #header {
    padding: 24px 1.76%;
  }

  /* バーガーメニューを非表示にする */
  #header .menu .burger {
    display: none;
  }

  /* headerをflexして横並びにして両端揃えにする */
  #header .menu {
    display: flex;
    justify-content: space-between;
    /* 高さを固定して中央揃えにする */
    min-height: 32.85px;
    align-items: center;
  }

  #header .menu .logo {
    flex-basis: auto;
    padding-left: 0px;
    margin: 0px;
  }

  #header .menu .menu_list {
    display: flex;
    justify-content: space-between;
    font-size: min(1.3vw, 16px);
    max-width: 50%;
    max-height: 35px;
    align-items: center;
    margin-left: 21.26%;

    position: static;
  }

  #header .menu .menu_list a {
    padding: 0px;
    height: 20px;
  }

  /* マウスオーバー時は太字になって下線がつく */
  #header .menu .menu_list a:hover {
    font-weight: 700;
    text-decoration: underline solid #333;
    background-color: transparent;
  }

  /* スマホ版の時に設定していたpaddingを削除する */
  #header .menu .menu_list li:first-of-type {
    padding-top: 0px;
  }

  #header .menu .menu_list li:last-of-type {
    padding-bottom: 0px;
  }


  /* =======★★★mainの設定★★★======= */
  /* ===hero画像の設定=== */
  /* ↓スマホ用画像を非表示 */
  main h1 .sp {
    display: none;
  }

  /* ↓PC用画像を表示 */
  main h1 .pc {
    display: block;
    width: 100%;
    height: 545px;
    object-fit: cover;
  }

  /* ===sectionの設定=== */
  /* セクションの共通設定 */
  main section {
    margin-right: auto;
    margin-left: auto;
    /*↓ セクションの下に余白をつける */
    margin-bottom: 160px;
    /* ↓可変時の左右の余白：30px */
    padding-left: 30px;
    padding-right: 30px;
  }

  main .section_innerwrap {
    display: block;
    /* max-width: 1020px; */
    /* ↓中央揃えにする */
    margin-left: auto;
    margin-right: auto;
  }


  /* ↓一番目のセクションだけ（CONCEPT）の上に余白を付ける */
  main section:nth-of-type(1) {
    margin-top: 160px;
  }

  /* セクションタイトルの共通設定 */
  main .section .sec_title {
    margin-bottom: 16px;
    font-size: 42px;
    line-height: 1em;
    /* ↑SPのbodyで設定してるけど */
  }

  /* サブタイトルの共通設定 */
  main .subtitle {
    font-size: 16px;
    margin-bottom: 48px;
  }

  /* ==CONCEPTの設定== */
  #concept .section_innerwrap {
    max-width: 1020px;
  }

  #concept h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1em;
    /* ↑SPのbodyで設定してるけど */
  }

  #concept .comment {
    font-size: 16px;
    line-height: 2em;
    text-align: left;
  }

  /* ==SERVICEの設定== */
  #service .section_innerwrap {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }

  #service .living {
    margin-left: 4.39%;
    margin-right: 4.39%;
  }

  #service .Bathroom,
  .living,
  .kitchen {
    width: 29.4%;
  }

  #service .inner_wrap img {
    height: auto;
  }

  #service .service_menu dt {
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #service .service_menu dd {
    font-size: 16px;
    margin-bottom: 16px;
  }


  /* ==★FLOW★の設定== */
  /* ↓上下の余白の設定 */
  #flow {
    padding: 49px 60px;
  }

  /* ↓FLOWの詳細をflexで横並びにする */
  #flow .flow_detail {
    /* ↓黒枠が横並びになる　※この時点で▶は下にある */
    display: flex;
    /* ↓最大幅を910pxに設定する */
    max-width: 910px;
    /* ↓中央揃えにする */
    justify-content: space-between;
  }

  #flow .section_innerwrap {
    /* ↓SP用の時につけたパディングを解除する */
    padding-top: 0px;
    padding-bottom: 0px;
    /* ↓最大幅を910pxに設定する */
    max-width: 910px;
    /* ↓中央揃えにする */
    margin: 0 auto;
  }

  #flow .flow_item {
    display: inline-block;
    height: 280px;
    /* ↓ここで▶が横並びになる */
    display: flex;
  }

  /* フロー項目の設定（黒枠） */
  #flow .flow_text {
    display: inline-block;
    /* 位置設定をしたいためにflexする */
    display: flex;
    /* ↓幅、高さ、フォントサイズを設定する */
    width: 60px;
    min-width: 0;
    height: 280px;
    font-size: 28px;

    /* ↓天地中央に配置する */
    justify-content: center;

    /* ↓左右中央に配置する */
    align-items: center;

    /* ↓縦書きにする */
    writing-mode: vertical-lr;
  }

  /* 疑似要素で三角矢印を作成する */
  #flow .yajirusi::after {
    /* ↓▶を作成する */
    content: "";
    border-top: 30px solid transparent;
    border-left: 30px solid #B71B26;
    border-bottom: 30px solid transparent;
    padding: 0px;

    /* ↓▶を天地中央に配置する */
    margin-top: 110px;

    /* ↓▶の左側に余白を付けmarginで間隔を無理矢理調整 */
    margin-left: 12px;
  }

  /* 各▶の色の設定 */
  #flow .yajirusi:nth-of-type(2)::after {
    border-top: 30px solid transparent;
    border-left-color: rgba(183, 27, 38, 0.6);
  }

  #flow .yajirusi:nth-of-type(4)::after {
    border-top: 30px solid transparent;
    border-left-color: rgba(183, 27, 38, 0.7);
  }

  #flow .yajirusi:nth-of-type(6)::after {
    border-top: 30px solid transparent;
    border-left-color: rgba(183, 27, 38, 0.8);
  }

  #flow .yajirusi:nth-of-type(8)::after {
    border-top: 30px solid transparent;
    border-left-color: rgba(183, 27, 38, 0.9);
  }

  /* ==★Q&A★の設定== */
  /* 最大幅：988px */
  /* ↓最後に160px余白を付ける */
  #question {
    margin-bottom: 160px;
  }

  #question .qa_contents {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 988px;
    /* ↓中央揃えにする */
    margin-left: auto;
    margin-right: auto;
  }

  #question .qa_icon {
    max-width: 50px;
    height: 50px;
    padding-top: 14px;
    padding-right: 2px;
    padding-left: 8px;
    font-size: 34px;
  }

  /* アイコンQの設定 */
  #question .qa_contents .q {
    margin-bottom: 16px;
  }

  /* アイコンAの設定 */
  #question .qa_contents .a {
    margin-bottom: 48px;
  }

  #question .qa_contents .question,
  #question .qa_contents .answer {
    font-size: 20px;
    margin-left: 7.64px;
    /* ↓アイコンの位置とバランスを取るため上にpadding設定 */
    padding-top: 10px;
  }


  /* ==★CONTACT★の設定== */
  /* 共通設定 */
  /* 最大幅：1140px サイド余白：76px */

  #contact {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 160px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    min-height: 52px;
    margin-bottom: 24px;
  }

  #contact .contact_inner_wrap {
    max-width: 1020px;
    /* ↓中央揃えにする */
    margin-left: auto;
    margin-right: auto;
    /*↓ フォーム部分をflex */
    display: flex;
    flex-wrap: wrap;
    background-color: #EFF1F4;
    padding-top: 48px;
    /* padding-right: 2.35%; */
    padding-left: 1.57%;

    position: relative;
  }

  #contact .contact_item {
    width: 29.8%;
    max-width: 304px;
    text-align: right;
    height: 31.74px;
    white-space: nowrap;
    margin-top: 5px;
  }

  #contact .contact_body {
    width: 65.1%;
    text-align: left;
    margin-left: 1.27%;
  }

  /* ↓項目名の設定 */
  #contact .contact_label {
    font-size: min(1.75vw, 20px);
    margin-top: 0px;
    margin-bottom: 0px;
    height: 24px;
    text-align: right;
  }

  #contact .contact_body:nth-of-type(3),
  #contact .contact_body:nth-of-type(5),
  #contact .contact_body:nth-of-type(7) {
    width: 33.6%;
    margin-right: 32.91%;
  }

  /* ↓必須の設定 */
  #contact .contact_label span {
    font-size: min(1.40vw, 16px);
    padding: 3px 3.95% 5px;
    height: 24px;
    box-sizing: border-box;
    margin-left: 4px;
  }

  /* １．お問い合わせ種別の設定 */
  /* ↓ラジオボタンの設定 */
  input[type="radio"] {
    width: 24px;
    height: 24px;
  }

  /* ↓ラジオボタンの選択肢の文字の大きさ設定 */
  #contact .radio_type {
    font-size: 20px;
  }

  /* ↓次の項目との余白設定 */
  #contact .contact_type_item {
    margin-bottom: 52px;
  }

  #contact .radio_type {
    margin-right: 40px;
  }

  /* 5．住所の設定 */
  /* ↓〒の設定 */
  #contact .postal_code_wrap .contact_label {
    font-size: 20px;
    margin-right: 4px;
  }

  /* ８．お問い合わせ内容の設定 */
  #contact .inquiry {
    height: 208px;
  }

  /* ９．確認ボタンの設定 */
  #contact .submit {
    max-width: 1020px;
    /* ↓中央揃えにする */
    margin-left: auto;
    margin-right: auto;
    background-color: #EFF1F4;
    padding-bottom: 48px;
  }

  #contact .submit label {
    width: 300px;
    height: 68px;
  }

  /* ↓▷の上下位置を調整 */
  #contact .submit span::after {
    margin-top: 28px;
  }

  #contact .submit_btn {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 3.4em;
    color: #fff;
  }

  /* ↓「～確認する」と▷の間に8px余白を入れる */
  #contact .submit span::after {
    margin-left: 8px;
  }

  #contact .submit span:hover::after {
    margin-top: 22px;
  }


  /* =======★★★footerの設定★★★======= */
  footer .pagetop {
    width: 60px;
    height: 60px;
  }

  footer .pagetop::after {
    top: 25px;
    left: 15px;
    width: 32px;
    height: 32px;
  }

  footer .copytright {
    height: 61.36px;
    font-size: 14px;
    padding-top: 24.64px;
  }


  /*************************
PCデザイン用(1140px以上 : 固定)設定
**************************/
  /* @media screen and (min-width:1140px) { */

  /* section { */
  /* 最小幅1140pxで固定 */
  /* width: 1140px; */
}